/*Login*/

#a {
    color: #777;
    font-size: 13px;
}

#a1 {
    top:80px;

}

/*.aa {
   fondo. Esperar. 
}*/

#bb {
    background-color: #e7e7e7;
    color: black;
    display: block;
    margin: 10px auto;
}

#bb:hover {
    background-color: #777;
    color: black;
    display: block;
    margin: 10px auto;
}

/*BedinNavbar*/

#b3{

    margin-right: 10px;
    margin-left: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 0px;
    border-top-width: -;
    padding-top: -;
    border-radius: 25px;
    position: relative;
    top: 10px;
}

#buttom {
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-default { background-color: #e3e7e5;}

#c3{ color: black;}

#d3 > li > a {
    position: relative;
    display: block;
    padding: 15px 20px;
    font-weight: bold;
}

#e3 { font-size: 11px;}

#f3 { margin-right: 5px;}

li.e3:hover { background-color: #e1e5e4;}

li > a:hover { background-color: #e1e5e4;}

#aaa{
    background-color: lightblue;
}

#bbb{
    background-color: lightyellow;
}

#aaa{
    background-color: lightgreen;
}

/*FinanciadorHome*/

.a4 {
    padding:8px;
    background:#ffffff;
    margin-right:4px;

}

.b4 { padding: 1px 15px 3px 2px;}

#c4 {
    border-radius:20px;
    margin-top: 10px;
    margin-left: 70px;
    width: 43%;
    height: 30%;
}

/*.d4 { margin-top: 100px; }*/

.e4 { margin-left: 70px; }

/*FinanciadorFormStep1*/

#b1 {
    margin-bottom: 20px;
    margin-left: 90px;
    font-size: 15px;
    font-weight: bold;
}

#c1:hover {
 background: rgba(0,0,0,0);
 color: black;

}


/*FinanciadorFormStep2*/

.row { margin-top: 50px; }

#th { 
    border-bottom-width: 2px;
    border-bottom-color:#777777;

     }

#a {
    background-color: rgba(250, 250, 250, 0.90);
    width: 300px;
    height: 400px;
    box-shadow: 0 4px 80px 0 rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    padding: 35px;
    padding-top: 30px;
    margin: 8px;
}

#b { margin-bottom: 40px; }

#c { padding: 1px; }

#d {
    margin-top: 40px;
    margin-left: 140px;
}



#f {
    background-color: rgba(250, 250, 250, 0.89);
    width: 300px;
    height: 400px;
    box-shadow: 0 4px 80px 0 rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    margin: 8px;
    padding: 25px;
    padding-top: 25px;
}

.g {
    background: white;
    border-bottom-color: lightgrey;
    border-width: 1.5px;
    border-radius: 20px;
    border-spacing: 5px;
    empty-cells: hide;
    border-collapse: separate;
    width: 250px;
    box-shadow: 0 4px 4px 4 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    height: 350px;
}

/*TableDataFinanciador*/

.a6{
    
    border-width: 1px;
    border-color: lightgrey;
    border-style: solid;
    box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.2);
}

.b6 { 

    background-color: #e7e7e7;
    color: #777;
 }
