.container {
  position: fixed;
  top: 200px;
}

.portada {
    width: 100%;
    height: 100vh;
    background-image: url('https://static.pexels.com/photos/127873/pexels-photo-127873.jpeg');
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 0.6;
}

#button{
	background: white;
	border-color: lightgrey;
	color: gray;
	display: block;
    margin: 10px auto;
}

#button:hover {
 background: rgba(0,0,0,0);
 color: grey;
 display: block;
 margin: 10px auto;
}

#p{
	position: absolute;
	margin-top: 20%;
}

#Sing_up{
	color: rgb(0, 51, 51);
	font-size: 15px;
	font-weight: bold;
}